html {
    height: 100%;
}

body {
    height: 100%;
    
    margin: 0;
    padding: 0;
}

main{
    min-height: 100%;

    background-image: url(background_1.png);
    background-size: 1920px;
    filter: brightness(50%);
}