html {
    height: 100%;
}

body {
    height: 100%;
    
    margin: 0;
    padding: 0;

    position: relative;
}

main{
    min-height: 100%;

    display: flex;
}

#background-image {
    width: 100%;
    min-height: 100%;
    
    background-image: url(../images/background_1.png);
    background-size: 2500px;
    background-position: 500px;
    filter: brightness(50%);

    position: absolute;
    top: 0;
    z-index: -9;
}

/*STYLES OF CONTAINERS*/
.outer-container {
    margin: 50px;

    width: 50%;
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 2;

    background-color: rgba(112, 255, 172, 0.637);
    border: 5px solid white;
    border-radius: 10px;
    
    pointer-events: none;
}

.outer-container::after {
    content: "";
    
    width: 100%;
    min-height: 100%;

    position: absolute;
    z-index: 5;

    border-radius: 10px;
    box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.589) inset;
}

.text-container {
    padding: 10px;

    border-radius: 10px;
    background-color: rgb(191, 255, 218);
}

/* =====[ CREATURE INFO ]===== */
.showcase-container {
    display: flex;
    flex-direction: row;

    gap: 40px;
}

.creature-entry.hidden { /* Added to all creature info that isn't current creature */
    display: none;
}

.creature-stats,
.hexagon {
    width: 300px;
    height: 300px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.hexagon {
    background-color: grey;
    
    clip-path: polygon(
    50% 0, 
    90% 25%, 
    90% 75%, 
    50% 100%, 
    10% 75%, 
    10% 25%
    );
}
.hexagon.inner { 
    background-color: rgb(255, 0, 0); 
    width: 200px; 
    height: 200px; 

    z-index: 2;
}
.hexagon.innermost { 
    background-color: green; 
    width: 100px; 
    height: 100px; 

    z-index: 3;
}

.star {
    width: 300px;
    height: 300px;

    clip-path: polygon(
    50% 0, 
    40% 35%, 
    10% 25%, 
    30% 50%, 
    10% 75%, 
    40% 65%, 
    50% 100%, 
    60% 65%, 
    90% 75%, 
    70% 50%, 
    90% 25%, 
    60% 35%
    );

    background-color: yellow;

    position: absolute;
    top: 0;
}
/*

STAR SHAPE 

clip-path: polygon(
    50% 0, 
    40% 35%, 
    10% 25%, 
    30% 50%, 
    10% 75%, 
    40% 65%, 
    50% 100%, 
    60% 65%, 
    90% 75%, 
    70% 50%, 
    90% 25%, 
    60% 35%
);

HEXAGON SHAPE

clip-path: polygon(
    50% 0, 
    90% 25%, 
    90% 75%, 
    50% 100%, 
    10% 75%, 
    10% 25%);
);

*/