@font-face {
    font-family: 'Jersey-20';
    src: url('../fonts/Jersey20-Regular.ttf') format('truetype');
}

html {
    height: 100%;
}

body {
    height: 100%;
    
    margin: 0;
    padding: 0;

    position: relative;
}

main{
    min-height: 100%;

    display: flex;
}

#background-image {
    width: 100%;
    min-height: 100%;
    
    background-image: url(../images/background_1.png);
    background-size: 2500px;
    background-position: 500px;
    filter: brightness(50%);

    position: absolute;
    top: 0;
    z-index: -9;
}

/*STYLES OF CONTAINERS*/
.outer-container {
    margin: 50px;

    width: 50%;
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 2;

    background-color: rgba(112, 255, 172, 0.637);
    border: 5px solid white;
    border-radius: 10px;
    
    pointer-events: none;
}

.outer-container::after {
    content: "";
    
    width: 100%;
    min-height: 100%;

    position: absolute;
    z-index: 5;

    border-radius: 10px;
    box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.589) inset;
}

.text-container {
    padding: 10px;

    border-radius: 10px;
    background-color: rgb(191, 255, 218);
}

/* =====[ CREATURE INFO ]===== */
.showcase-container {
    display: flex;
    flex-direction: row;

    gap: 40px;
}
.creature-entry.hidden { display: none; }

.creature-info-grid {
    display: grid;

    grid-template-areas:
        "img  img  .     .     .    "
        "img  img  types types types"
        "img  img  stats stats stats"
        "desc desc stats stats stats"
        "desc desc evo   evo   evo  ";
}

.creature-circle {
    width: 100px;
    height: 100px;

    border-radius: 100%;
    background-color: rgb(147, 147, 147);

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}
.creature-circle::before {
    content: "";

    width: 110%;
    min-height: 110%;

    border-radius: 100%;
    background-color: rgb(75, 75, 75);

    position: absolute;
    z-index: -1;
}

.creature-main-img {
    grid-area: img;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 50px 50px;
}
.creature-main-img .creature-circle {
    width: 300px;
    height: 300px;
}

.creature-name-and-desc {
    grid-area: desc;

    display: flex;
    flex-direction: column;

    margin: 20px 50px;
}
.creature-name {
    font-family: 'Jersey-20';
    font-size: 64px;
    text-align: center;
    color: black;
}
.creature-desc {
    font-family: 'Jersey-20';
    font-size: 32px;
    text-align: left;
    color: black;

    background-color: rgb(85, 85, 85);
    padding: 15px;
}

.creature-types-and-others {
    grid-area: types;

    font-family: 'Jersey-20';
    color: black;

    background-color: green;
    margin: 25px 50px;
}
.creature-types-container {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    gap: 20px;

    padding: 10px;
}
.creature-type-and-headline {
    display: flex;
    flex-direction: column;

    text-align: center;
    font-size: 24px;
}
.creature-type {
    background-color: rgb(121, 121, 121);
    border-radius: 10px;
    padding: 10px;
}

.creature-stats {
    grid-area: stats;

    display: flex;
    justify-content: center;

    position: relative;

    margin: 50px 50px auto 50px;
}
.hexagon {
    width: 300px;
    height: 300px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    background-color: grey;
    
    clip-path: polygon(
    50% 0, 
    90% 25%, 
    90% 75%, 
    50% 100%, 
    10% 75%, 
    10% 25%
    );
}
.hexagon.inner { 
    background-color: rgb(255, 0, 0); 
    width: 200px; 
    height: 200px; 

    z-index: 2;
}
.hexagon.innermost { 
    background-color: green; 
    width: 100px; 
    height: 100px; 

    z-index: 3;
}
.star {
    width: 300px;
    height: 300px;

    clip-path: polygon(
    50% 0, 
    40% 35%, 
    10% 25%, 
    30% 50%, 
    10% 75%, 
    40% 65%, 
    50% 100%, 
    60% 65%, 
    90% 75%, 
    70% 50%, 
    90% 25%, 
    60% 35%
    );

    background-color: yellow;

    position: absolute;
    top: 0;

    z-index: 4;
}
.creature-stats h5 {
    font-family: 'Jersey-20';
    color: black;
}
.creature-stats h5:nth-of-type(1) { /* HEALTH */
    position: absolute;
    top: -20%;
}
.creature-stats h5:nth-of-type(2) { /* STRENGTH */
    position: absolute;
    left: 5%;
    top: 10%;
}
.creature-stats h5:nth-of-type(3) { /* RESISTANCE */
    position: absolute;
    left: 3%;
    bottom: 10%;
}
.creature-stats h5:nth-of-type(4) { /* SPEED */
    position: absolute;
    bottom: -20%;
}
.creature-stats h5:nth-of-type(5) { /* FLEXIBILITY */
    position: absolute;
    right: 4%;
    bottom: 10%;
}
.creature-stats h5:nth-of-type(6) { /* INTELLIGENCE */
    position: absolute;
    right: 2%;
    top: 10%;
}

.creature-baby-and-adult {
    grid-area: evo;

    background-color: red;
    margin: 100px 50px;

    width: 400px;
    height: 230px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: relative;
    z-index: -2;
}
.creature-baby-container {
    display: flex;
    flex-direction: column;

    align-items: center;

    position: absolute;
    top: 20%;
    left: 10%;
}
.creature-baby-container .creature-circle {
    width: 100px;
    height: 100px;
}
.creature-adult-container {
    align-items: center;

    position: absolute;
    top: 10%;
    right: 10%;
}
.creature-adult-container .creature-circle {
    width: 150px;
    height: 150px;
}